body {
    font-family: Arial, sans-serif;
    background-color: rgb(107, 107, 107);
}



.linha-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2; /* Linha por cima dos elementos */
    padding: 10px;
    padding-top: 78px;
}

.diagrama {
    display: flex;
    justify-content: center;
    gap: 0.1px;
    margin-top: 20px;
    position: relative;
    z-index: 1; /* Diagrama abaixo da linha */
}

.busca {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.column:nth-child(1) {
    margin-top: 174px; /* Stage 1 mais abaixo */
}

.column:nth-child(2) {
    margin-top: 87px; /* Stage 2 mais abaixo */
}

.column:nth-child(3) {
    margin-top: 87px; /* Stage 3 mais abaixo */
}

#nomeRota{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;
}

/* Dark com 2 Missões */
.stage.dark.duasMissoes {
    line-height: 50px;
    background-image: 
        url('images/DarkMission2.png'),
        url('images/2MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

/* Hero com 2 Missões */
.stage.hero.duasMissoes {
    line-height: 120px;
    background-image: 
        url('images/HeroMission2.png'),
        url('images/2MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

/* Hero com 2 neutral */
.stage.normal.duasMissoes {
    line-height: 50px;
    background-image: 
        url('images/DarkMission2.png'),
        url('images/2MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.stage.dark {
    line-height: 30px;
    background-image: 
        url('images/DarkMission3.png'),
        url('images/3MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;                   /* Tamanho das imagens */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    
}

.stage.normal {
    background-image: 
        url('images/NeutralMission3.png'),
        url('images/3MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;                   /* Tamanho das imagens */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.stage.hero {
    line-height: 130px;
    background-image: 
        url('images/HeroMission3.png'),
        url('images/3MissionEmpty.png');  /* Imagem base */
    background-size: 75%, 75%;                   /* Tamanho das imagens */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.stage {
    width: 150px;
    height: 80px;
    border: None;
    background-image: url('images/3MissionEmpty.png');
    margin-left: -30px;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 80px;
    color: white; /* Ajuste a cor do texto para melhor contraste */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;
}

.tipoFase {
    font-size: 0.9em;
    text-transform: capitalize;
    color: #eee;
}

#richPresence {
    font-weight: bold;
    font-style: italic;
    color: #f39c12;
    padding-top: 25px;
    font-size: 2em;
}

.stage.duasMissoes {
    background-image: 
        url('images/2MissionEmpty.png');
    background-size: 75%;                   /* Tamanho das imagens */
    background-repeat: no-repeat;
    background-position: center;
}